html {
  height: 100%;
  width: 40%;
  margin: auto;
}
body{
  background-color: rgb(40, 40, 40);
  color: white;
  font-size: 110%;
}
a {
  color: white;
  text-decoration-color: deepskyblue;
  text-decoration-style: wavy;
}
a:visited {
  color: white;
  text-decoration-color: deepskyblue;
  text-decoration-style: wavy;
}
.spaced{
  padding-right: 25px;
}
.right{
  float: right;
}
.left{
  float: left;
}
.ycircle{
  border: 5px solid yellow;
  border-radius: 500px;
  object-fit: scale-down;

}
.nodec{
  text-decoration: none;
}
.compressed{
  line-height: 1px;
}
.grey {
  color: lightgray;
}
.tag{
  color: royalblue;
  display: inline-block;
  border: 2px solid royalblue;
  border-radius: 99999px;
  padding-left: 2px;
  padding-right: 2px;
  padding-top: 2px;
  padding-bottom: 2px;
}
a.tag:visited{
  color: rebeccapurple;
  border: 2px solid rebeccapurple;
  padding-left: 2px;
  padding-right: 2px;
  padding-top: 2px;
  padding-bottom: 2px;
}
a.tag:hover{
  transform: scale(1.05);
  color: rebeccapurple;
  border: 2px solid rebeccapurple;
  border-radius: 99999px;
  padding-left: 2px;
  padding-right: 2px;
  padding-top: 2px;
  padding-bottom: 2px;
}
.codebod{
  background-color: rgb(20, 20, 20);
  border-radius: .25rem;
}
.inlineblock { 
  border: 2px solid white;
  width: 220px;
  height: 220px;
  display: inline-block;
  vertical-align: top;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 5px;
  font-size: 20px;

}
.blocklink{

  border: 0.5vw solid royalblue;
  transition: text-shadow .1s;
  
}
div.blocklink:hover{
  font-size: 20px;
  font-weight: 100px;
  text-shadow: 0 0 1px white, 0 0 .65px white;
}
